GENERAL:
 - Тревожная кнопка – инструмент, чтобы связывать людей, которым нужна СРОЧНАЯ помощь (клиентов), и желающих помочь (помощник)
 - Клиент и помощник – любой участник авторизованного чата. Например, чата Peredelanoconf. Пока есть чаты по нескольким городам в разных странах.

MVP:
 - Для MVP считаем, что люди из других городов/стран, где нет чата – будут добавляться в ближайший к ним. Например, клиенты из Батуми будут добавляться в Тбилисский чат

WORKFLOW (CLIENT):
1. У клиента есть запрос. Он создает заявку через бота в ТГ
2. Заявка отправляется всем помощникам в стране.
3. Открытая свободная заявка имеет срок жизни (например, 24 часа)
4. В заявке указывается ТГ пользователя, геолокация, описание проблемы
5. Перед тем, как взять заявку, помощник может связаться с клиентом напрямую, и уточнить детали
6. Если за время срока жизни заявку никто не взял, она закрывается. Клиент получает сообщение об истечении времени действия заявки

WORKFLOW (EXECUTOR):
Любой помощник может:
1.  Взять заявку в работу (Над одной заявкой одновременно может работать только один помощник)
2.  Закрыть заявку как несоответствующую требованию срочной помощи

Взяв заявку помощник может:
1.  Закрыть заявку как выполненную
2.  Закрыть заявку как несоответствующую
3.  Вернуть в пул заявок. (например, с дополнительными комментариями)

QUESTIONS:
 - В: Как стать помощником?
   О: Зайти в бот и выбрать «Хочу стать помощником»
 - В: Атомарным элементом в категоризации чатов будет город, правильно?
   О: Каждому чату будем сопоставлять некоторый город и вести поиск с учетом этого города (Например, город Батуми -> ищем по всей Грузии).
 - В: Есть ли верификация, что задача закрыта корректно и помощник действительно её выполинл? Обратная связь с клиентом по типу подтвердения?
   О: На этапе MVP првоерки помощников не будет
 - В: Категории заявок планируется? Например те, которые можно выполнить только лично, находясь в городе. И общие, которые можно выполнить из другого города?
   О: На этапе MVP без категорий. Пока тул позиционируем чисто для срочных заявок. Исходим из того, что их будет 1-2 в день по стране
